*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sec-one{
    background-color: #249abe;
    width: 100%;
    height: 500px;
    .cnt{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        h1{
            font-size: 73px;
        }
        #font1{
            font-size: 32px;
            font-weight: 700;
        }
        #font2{
            font-size: 26px;
        }
        button{
            
        }
    }
}